<div>

  <div class='post_wrap'>
    <div class='inline'>
      <p>Title</p>
        <%= comment.name %>    
    </div>

    <div class='inline2'>
      <p>Comment</p>      
      <%= comment.body %>      
    </div>
</div>

<% if current_user %>
<p>
<%= link_to 'delete', [comment.post, comment], method: :delete %>
</p>
<% end %><hr>